<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture Gallery</title>
    <link rel="stylesheet" href="/css/architecture.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar")%>
    <main>
        <h1>Architecture</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/3520942/pexels-photo-3520942.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 1">
            <img src="https://images.pexels.com/photos/764250/pexels-photo-764250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 2">
            <img src="https://images.pexels.com/photos/14520365/pexels-photo-14520365.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 3">
            <img src="https://images.pexels.com/photos/2491830/pexels-photo-2491830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 4">
            <img src="https://images.pexels.com/photos/28616627/pexels-photo-28616627/free-photo-of-historic-arches-inside-bidar-fort-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 5">
            <img src="https://images.pexels.com/photos/28616500/pexels-photo-28616500/free-photo-of-stunning-hindu-temple-architecture-in-delhi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 6">
            <img src="https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 7">
            <img src="https://images.pexels.com/photos/3098608/pexels-photo-3098608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 8">
            <img src="https://images.pexels.com/photos/3974152/pexels-photo-3974152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 9">
            <img src="https://images.pexels.com/photos/3209602/pexels-photo-3209602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 10">
            <img src="https://images.pexels.com/photos/28426013/pexels-photo-28426013/free-photo-of-hawa-mahal-s-intricate-facade-jaipur.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 11">
            <img src="https://images.pexels.com/photos/5465323/pexels-photo-5465323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 12">
            <img src="https://images.pexels.com/photos/17009218/pexels-photo-17009218/free-photo-of-stairs-to-temple.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 13">
            <img src="https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 14">
            <img src="https://images.pexels.com/photos/20623791/pexels-photo-20623791/free-photo-of-lotus-temple-in-new-delhi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 15">
            <img src="https://images.pexels.com/photos/19867576/pexels-photo-19867576/free-photo-of-red-fort-in-delhi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Architecture 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer")%>
</body>
</html>