<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrophotography Gallery</title>
    <link rel="stylesheet" href="/css/astrophotography.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar") %>
    <main>
        <h1>Astrophotography</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/1567069/pexels-photo-1567069.jpeg" alt="Astrophotography 1">
            <img src="https://images.pexels.com/photos/1276429/pexels-photo-1276429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 2">
            <img src="https://images.pexels.com/photos/3262249/pexels-photo-3262249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 3">
            <img src="https://images.pexels.com/photos/433155/pexels-photo-433155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 4">
            <img src="https://images.pexels.com/photos/1542493/pexels-photo-1542493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 5">
            <img src="https://images.pexels.com/photos/2666598/pexels-photo-2666598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 6">
            <img src="https://images.pexels.com/photos/1009136/pexels-photo-1009136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 7">
            <img src="https://images.pexels.com/photos/207529/pexels-photo-207529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 8">
            <img src="https://images.pexels.com/photos/1276429/pexels-photo-1276429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 9">
            <img src="https://images.pexels.com/photos/517884/pexels-photo-517884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 10">
            <img src="https://images.pexels.com/photos/2901134/pexels-photo-2901134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 11">
            <img src="https://images.pexels.com/photos/746393/pexels-photo-746393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 12">
            <img src="https://images.pexels.com/photos/1175136/pexels-photo-1175136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 13">
            <img src="https://images.pexels.com/photos/28628420/pexels-photo-28628420/free-photo-of-rustic-cabin-under-starlit-sky-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 14">
            <img src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 15">
            <img src="https://images.pexels.com/photos/47367/full-moon-moon-bright-sky-47367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Astrophotography 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>