<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black & White Gallery</title>
    <link rel="stylesheet" href="/css/blackandwhite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar")%>
    <main>
        <h1>Black & White</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/57905/pexels-photo-57905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 1">
            <img src="https://images.pexels.com/photos/763097/pexels-photo-763097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 2">
            <img src="https://images.pexels.com/photos/134402/pexels-photo-134402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 3">
            <img src="https://images.pexels.com/photos/89095/pexels-photo-89095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 4">
            <img src="https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 5">
            <img src="https://images.pexels.com/photos/52500/horse-herd-fog-nature-52500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 6">
            <img src="https://images.pexels.com/photos/1320724/pexels-photo-1320724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black &White 7">
            <img src="https://images.pexels.com/photos/21323/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black &White 8">
            <img src="https://images.pexels.com/photos/772988/pexels-photo-772988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black &White 9">
            <img src="https://images.pexels.com/photos/1038935/pexels-photo-1038935.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 10">
            <img src="https://images.pexels.com/photos/276374/pexels-photo-276374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 11">
            <img src="https://images.pexels.com/photos/763097/pexels-photo-763097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 12">
            <img src="https://images.pexels.com/photos/285286/pexels-photo-285286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 13">
            <img src="https://images.pexels.com/photos/164357/pexels-photo-164357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 14">
            <img src="https://images.pexels.com/photos/122965/pexels-photo-122965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 15">
            <img src="https://images.pexels.com/photos/633488/pexels-photo-633488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Black & White 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer")%>
</body>
</html>