<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landscape Gallery</title>
    <link rel="stylesheet" href="/css/Landscape.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar") %>
    <main>
        <h1>Landscape</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/28656057/pexels-photo-28656057/free-photo-of-scenic-landscape-of-hampi-with-lush-fields-and-hills.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 1">
            <img src="https://images.pexels.com/photos/28628507/pexels-photo-28628507/free-photo-of-serene-forest-stream-in-almora-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 2">
            <img src="https://images.pexels.com/photos/2961109/pexels-photo-2961109.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 3">
            <img src="https://images.pexels.com/photos/1205230/pexels-photo-1205230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 4">
            <img src="https://images.pexels.com/photos/1273246/pexels-photo-1273246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 5">
            <img src="https://images.pexels.com/photos/944395/pexels-photo-944395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 6">
            <img src="https://images.pexels.com/photos/877263/pexels-photo-877263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 7">
            <img src="https://images.pexels.com/photos/2439787/pexels-photo-2439787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 8">
            <img src="https://images.pexels.com/photos/27757421/pexels-photo-27757421/free-photo-of-sunset-evening.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 9">
            <img src="https://images.pexels.com/photos/18002548/pexels-photo-18002548/free-photo-of-beautiful-landscape-in-suru-valley-ladakh.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 10">
            <img src="https://images.pexels.com/photos/5110976/pexels-photo-5110976.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 11">
            <img src="https://images.pexels.com/photos/3974375/pexels-photo-3974375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 12">
            <img src="https://images.pexels.com/photos/5637788/pexels-photo-5637788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 13">
            <img src="https://images.pexels.com/photos/18646440/pexels-photo-18646440/free-photo-of-anskar.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 14">
            <img src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 15">
            <img src="https://images.pexels.com/photos/1107717/pexels-photo-1107717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Landscape 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>