<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portraits Gallery</title>
    <link rel="stylesheet" href="/css/portraits.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <main>
        <h1>Portraits</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 1">
            <img src="https://images.pexels.com/photos/27155552/pexels-photo-27155552/free-photo-of-beautiful-indian-bride-with-traditional-dresses-and-makeup.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 2">
            <img src="https://images.pexels.com/photos/1438461/pexels-photo-1438461.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 3">
            <img src="https://images.pexels.com/photos/28639416/pexels-photo-28639416/free-photo-of-joyful-portrait-of-young-friends-embracing.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 4">
            <img src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 5">
            <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 6">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 7">
            <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 8">
            <img src="https://images.pexels.com/photos/12966972/pexels-photo-12966972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 9">
            <img src="https://images.pexels.com/photos/35537/child-children-girl-happy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 10">
            <img src="https://images.pexels.com/photos/773371/pexels-photo-773371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 11">
            <img src="https://images.pexels.com/photos/1102341/pexels-photo-1102341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 12">
            <img src="https://images.pexels.com/photos/573299/pexels-photo-573299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 13">
            <img src="https://images.pexels.com/photos/641314/pexels-photo-641314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 14">
            <img src="https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 15">
            <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Portraits 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>