<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Gallery</title>
    <link rel="stylesheet" href="/css/Sports.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar")%>
    <main>
        <h1>Sports</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 1">
            <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 2">
            <img src="https://images.pexels.com/photos/934083/pexels-photo-934083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 3">
            <img src="https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 4">
            <img src="https://images.pexels.com/photos/28509280/pexels-photo-28509280/free-photo-of-exciting-cricket-match-action-on-green-field.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 5">
            <img src="https://images.pexels.com/photos/28649886/pexels-photo-28649886/free-photo-of-motorcycle-racing-action-in-tarlac-city.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 6">
            <img src="https://images.pexels.com/photos/28653616/pexels-photo-28653616/free-photo-of-charro-rodeo-rider-on-white-horse-in-mexico.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 7">
            <img src="https://images.pexels.com/photos/863988/pexels-photo-863988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 8">
            <img src="https://images.pexels.com/photos/2600493/pexels-photo-2600493.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sports 9">
            <img src="https://images.pexels.com/photos/3148452/pexels-photo-3148452.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sports 10">
            <img src="https://images.pexels.com/photos/163526/field-hockey-player-girls-game-163526.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 11">
            <img src="https://images.pexels.com/photos/976873/pexels-photo-976873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 12">
            <img src="https://images.pexels.com/photos/6203521/pexels-photo-6203521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 13">
            <img src="https://images.pexels.com/photos/390051/surfer-wave-sunset-the-indian-ocean-390051.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sports 14">
            <img src="https://images.pexels.com/photos/274422/pexels-photo-274422.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sports 15">
            <img src="https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sports 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer")%>
</body>
</html>