<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Gallery</title>
    <link rel="stylesheet" href="/css/street.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <%- inclue("partials/navbar")%>
    <main>
        <h1>Street</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/3444542/pexels-photo-3444542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 1">
            <img src="https://images.pexels.com/photos/5568670/pexels-photo-5568670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 2">
            <img src="https://images.pexels.com/photos/3340052/pexels-photo-3340052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 3">
            <img src="https://images.pexels.com/photos/19166834/pexels-photo-19166834/free-photo-of-man-with-a-cart-during-rain.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 4">
            <img src="https://images.pexels.com/photos/3881112/pexels-photo-3881112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 5">
            <img src="https://images.pexels.com/photos/10172972/pexels-photo-10172972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 6">
            <img src="https://images.pexels.com/photos/27139264/pexels-photo-27139264/free-photo-of-a-woman-in-a-sari-standing-on-the-street.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 7">
            <img src="https://images.pexels.com/photos/5414587/pexels-photo-5414587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 8">
            <img src="https://images.pexels.com/photos/4428270/pexels-photo-4428270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 9">
            <img src="https://images.pexels.com/photos/14520365/pexels-photo-14520365.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 10">
            <img src="https://images.pexels.com/photos/3392154/pexels-photo-3392154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 11">
            <img src="https://images.pexels.com/photos/2962589/pexels-photo-2962589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 12">
            <img src="https://images.pexels.com/photos/2387615/pexels-photo-2387615.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 13">
            <img src="https://images.pexels.com/photos/1533545/pexels-photo-1533545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 14">
            <img src="https://images.pexels.com/photos/2019592/pexels-photo-2019592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 15">
            <img src="https://images.pexels.com/photos/1734892/pexels-photo-1734892.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Street 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- inclue("partials/footer")%>
</body>
</html>