<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildife Gallery</title>
    <link rel="stylesheet" href="/css/wildlife.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include("partials/navbar") %>
    <main>
        <h1>wildlife</h1>
        <div class="gallery">
            <img src="https://images.pexels.com/photos/28571797/pexels-photo-28571797/free-photo-of-gharials-resting-by-a-pond-in-hyderabad.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 1">
            <img src="https://images.pexels.com/photos/1054655/pexels-photo-1054655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 2">
            <img src="https://images.pexels.com/photos/792381/pexels-photo-792381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 3">
            <img src="https://images.pexels.com/photos/3280908/pexels-photo-3280908.jpeg" alt="wildlife 4">
            <img src="https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 5">
            <img src="https://images.pexels.com/photos/47547/squirrel-animal-cute-rodents-47547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 6">
            <img src="https://images.pexels.com/photos/326900/pexels-photo-326900.jpeg" alt="wildlife 7">
            <img src="https://images.pexels.com/photos/247376/pexels-photo-247376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 8">
            <img src="https://images.pexels.com/photos/733090/pexels-photo-733090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 9">
            <img src="https://images.pexels.com/photos/46254/leopard-wildcat-big-cat-botswana-46254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 10">
            <img src="https://images.pexels.com/photos/1054655/pexels-photo-1054655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 11">
            <img src="https://images.pexels.com/photos/792381/pexels-photo-792381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 12">
            <img src="https://images.pexels.com/photos/461329/pexels-photo-461329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 13">
            <img src="https://images.pexels.com/photos/236599/pexels-photo-236599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 14">
            <img src="https://images.pexels.com/photos/207001/pexels-photo-207001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 15">
            <img src="https://images.pexels.com/photos/1131774/pexels-photo-1131774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wildlife 16">
        </div>
        <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">&gt;</a>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>