body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 100px; 
    height: 70px; 
}

.logo {
    width: 130px;
    height: 70px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 40px 0;
    height: 500px;
}

h1 {
    text-align: center;
}

.form-intro {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px;
}

.event-form {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    margin-top: 27px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333333;
    border: none;
    color: #ffffff;
}

button {
    background-color: #4a4a4a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 9%;
}

footer {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem; 
}

.logo {
    width: 150px; 
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons a {
    color: #ffffff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff4d4d; 
}

p {
    color: #ffffff;
    font-size: 14px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
