<header>
    <img src="/images/logo.png" alt="PAC Logo" class="header-logo">
    <nav style="font-size: 25px;">
        <a href="http://localhost:3000">Home</a>
        <a href="http://localhost:3002/about">About Us</a>
        <a href ="http://localhost:3000/add">Events </a>
        <a href="http://localhost:3000/gallery">Gallery</a>
        <a href="http://localhost:3000/contact">Contact</a>
    </nav>
</header>
